<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>

<body>
    <!-- Menampilkan category berdasarkan filter  -->
    <h1><%= category %> Product</h1>
    <a href="/products/create">Add Product</a>
    <% if(category !== 'All') { %>
    <a href="/products">All Products</a>
    <% } %>
    <ul>
        <% for(let product of products) { %>
            <li> <a
             href="/products/<%= product.id %>"> 
                <%= product.name %> - <%= product.brand %>
            </a>
            <% } %>
    </ul>
</body>

</html>